---
const { id } = Astro.props;
---
<div class="fish-sheet" data-fish-id={id}>
  <span class="value" data-field="foto_url" style="display:none"></span>
  <h2 class="value" data-field="nombre_comun"></h2>
  <p class="value" data-field="nombre_cientifico"></p>
  <p class="value" data-field="familia"></p>
  <p class="value" data-field="origen"></p>
  <p class="value" data-field="color"></p>
  <p class="value" data-field="sexo"></p>
  <p class="value" data-field="tamano_adulto"></p>
  <p class="value" data-field="temperature_min"></p>
  <p class="value" data-field="temperature_max"></p>

  <p class="value" data-field="ph_min"></p>
  <p class="value" data-field="ph_max"></p>
  <p class="value" data-field="gh_min"></p>
  <p class="value" data-field="gh_max"></p>

  <p class="value" data-field="kh_min"></p>
  <p class="value" data-field="kh_max"></p>
  <p class="value" data-field="comportamiento"></p>
  <p class="value" data-field="alimentacion"></p>
  <p class="value" data-field="compatibilidad"></p>
  <p class="value" data-field="reproduccion"></p>
  <p class="value" data-field="fecha_incorporacion"></p>
  <p class="value" data-field="acua"></p>
  <p class="value" data-field="fecha_fallecimiento"></p>
  <p class="value" data-field="causa_muerte"></p>
  <p class="value" data-field="comprado_en"></p>
  <p class="value" data-field="curiosidades"></p>
  <p class="value" data-field="notas_adicionales"></p>
</div>
