<link rel="stylesheet" href="/styles/book.css" />
<div class="fab">
  <button class="fab-main" id="fabToggle">🐟</button>

  <div class="fab-actions">
    <button class="fab-action" id="add-page-btn" type="button" title="Añadir ficha">＋</button>
    <button class="fab-action" id="waterLevels" type="button" title="Niveles de agua">💧</button>
  </div>
</div>


