---
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <link rel="stylesheet" href="https://elrubiales13.github.io/libro_acuarios/styles/global.css" />
  </head>
  <body>
    <main class="full-page">
      <slot />
    </main>
  </body>
</html>
